include LICENSE
include README.md
include README.fa.md
include README.tr.md
include CHANGELOG.md
include pyproject.toml
recursive-include tests *.py
recursive-include examples *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
global-exclude .DS_Store
